@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: #e9e5e5;
  -webkit-box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
}

.localisation i {
  margin-right: 1rem;
}

.hero {
  background-color: #faf6f6;
  text-align: center;
  padding: 2rem 1rem;
}

.hero a {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1rem;
}

.hero__text {
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.hero__button {
  position: relative;
  border: none;
  background-image: linear-gradient(170deg, #ff79da 20%, #9356dc);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 24px;
  margin-bottom: 1.5rem;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.hero__button:hover {
  opacity: 0.8;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 27px -5px, rgba(0, 0, 0, 0.3) 0px 20px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 27px -5px, rgba(0, 0, 0, 0.3) 0px 20px 16px -8px;
}

.how-to {
  padding: 3rem 2rem;
}

.how-to h2 {
  margin-bottom: 1.5rem;
}

.how-to__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 350px;
  background-color: #e9e5e5;
  padding: 1.5rem 1.5rem 1.5rem 1rem;
  border-radius: 24px;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.how-to__step i {
  color: #545457;
  margin: 0 2rem;
}

.how-to__step__number {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 0.75rem;
  left: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9356dc;
}

.how-to__step:hover {
  background-color: #e4d5f6;
}

.how-to__step:hover i {
  color: #9356dc;
}

.restaurants {
  background-color: #e9e5e5;
  padding: 3rem 2rem;
}

.restaurants h2 {
  margin-bottom: 1.5rem;
}

.restaurants__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.restaurants__card {
  border-radius: 12px;
  background-color: white;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: black;
  width: 100%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.restaurants__card__tag {
  position: absolute;
  padding: 0.5rem 1rem;
  right: 10px;
  top: 10px;
  color: #278870;
  background-color: #99e2d0;
}

.restaurants__card__img img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-height: 200px;
}

.restaurants__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.restaurants__card__info p {
  margin-top: 5px;
}

.restaurants__card__info__like {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.restaurants__card__info__like i {
  font-size: 1.5rem;
}

.restaurants__card__info__like .fas::before {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, #ff79da 20%, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurants__card__info__like:hover .fas::before {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 1;
}

.restaurants__card__info__like:hover .far::before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.figure-menu {
  width: 100vw;
  background-color: #e9e5e5;
  position: relative;
  z-index: -1;
  height: 250px;
}

.figure-menu img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-height: 300px;
  width: 100%;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #e9e5e5;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 1.5rem 1.5rem;
}

.menu__header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
}

.menu__header__like {
  margin-right: 1rem;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu__header__like i {
  font-size: 1.5rem;
}

.menu__header__like .fas::before {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(170deg, #ff79da 20%, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__header__like:hover .fas::before {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 1;
}

.menu__header__like:hover .far::before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.menu__section {
  background-color: #e9e5e5;
  padding: 1rem 1.5rem;
}

.menu__section h2 {
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.menu__section__line {
  width: 50px;
  height: 5px;
  background-color: #99e2d0;
  margin-top: 5px;
}

.menu__section__plate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  max-width: 400px;
  background-color: white;
  border-radius: 16px;
  margin: 1rem 0;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 7px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 7px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow: hidden;
}

.menu__section__plate__details {
  padding: 0.8rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__section__plate__details h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__section__plate__details p {
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__section__plate__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 1rem;
  margin-right: -2rem;
  padding-top: 1.8rem;
  font-weight: bold;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu__section__plate__validation {
  padding: 1.5rem 1rem 1.5rem 1rem;
  background-color: #99e2d0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

.menu__section__plate__validation .fas {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  font-size: 1.5rem;
  color: white;
}

.menu__section__plate:hover .menu__section__plate__info {
  margin-right: 1rem;
}

.menu__section__plate:hover .menu__section__plate__validation {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.menu__section__plate:hover .menu__section__plate__validation .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu__validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9e5e5;
  padding: 1.5rem 1rem;
}

.menu__validation button {
  position: relative;
  border: none;
  background-image: linear-gradient(170deg, #ff79da 20%, #9356dc);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 24px;
  margin-bottom: 1.5rem;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  cursor: pointer;
  padding: 1rem 3rem;
  margin-bottom: 2.5rem;
  font-weight: 300;
  font-size: 1rem;
}

.menu__validation button:hover {
  opacity: 0.8;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 27px -5px, rgba(0, 0, 0, 0.3) 0px 20px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 27px -5px, rgba(0, 0, 0, 0.3) 0px 20px 16px -8px;
}

header {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  width: 100vw;
  text-align: center;
  padding-top: 5px;
  background-color: white;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 0.5rem;
}

.header-menu a {
  display: block;
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.header-menu a i {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 20px;
}

.header-menu a:hover {
  color: #9356dc;
}

footer {
  background-color: #201c1c;
  color: white;
  padding: 1.5rem 2rem;
  font-weight: 300;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer p {
  margin-bottom: 10px;
}

footer .footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__icon__icon {
  width: 20px;
}

footer .footer__icon__icon i {
  margin-right: 10px;
  font-size: 12px;
}

footer .footer__icon p {
  margin-left: 5px;
}
/*# sourceMappingURL=main.css.map */