@mixin title-font {
  font-family: "Shrikhand", cursive;
}

@mixin text-font {
  font-family: "Roboto", sans-serif;
}

@mixin pink-button {
  border: none;
  background-image: linear-gradient(170deg, $secondary 20%, $primary);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 24px;
  margin-bottom: 1.5rem;
  opacity: 1;
  transition: all 0.5s ease-in;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 20px 16px -8px;
  }
}

@mixin heart {
  position: relative;
  transition: all 0.3s ease-out;
  i {
    font-size: 1.5rem;
  }
  .fas {
    &::before {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(170deg, $secondary 20%, $primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &:hover .fas::before {
    transition: all 0.5s ease-out;
    opacity: 1;
  }
  &:hover .far::before {
    transition: all 0.5s;
    opacity: 0;
  }
}
