.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: $darkgrey;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.4);
  i {
    margin-right: 1rem;
  }
}

.hero {
  background-color: $lightgrey;
  text-align: center;
  padding: 2rem 1rem;
  a {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1rem;
  }
  &__text {
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  &__button {
    @include pink-button;
  }
}
.how-to {
  padding: 3rem 2rem;
  h2 {
    margin-bottom: 1.5rem;
  }
  &__step {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    max-width: 350px;
    background-color: $darkgrey;
    padding: 1.5rem 1.5rem 1.5rem 1rem;
    border-radius: 24px;
    margin-bottom: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    i {
      color: rgb(84, 84, 87);
      margin: 0 2rem;
    }
    &__number {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 0.75rem;
      left: -5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $primary;
    }
    &:hover {
      background-color: lighten($primary, 30%);
      i {
        color: $primary;
      }
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      text-align: center;
    }
  }
}

.restaurants {
  background-color: $darkgrey;
  padding: 3rem 2rem;
  h2 {
    margin-bottom: 1.5rem;
  }
  &__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  &__card {
    border-radius: 12px;
    background-color: white;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    &__tag {
      position: absolute;
      padding: 0.5rem 1rem;
      right: 10px;
      top: 10px;
      color: darken($tertiary, 40%);
      background-color: $tertiary;
    }

    &__img {
      img {
        width: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        object-fit: cover;
        object-position: center;
        max-height: 200px;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      p {
        margin-top: 5px;
      }
      &__like {
        @include heart;
      }
    }
  }
}
