.figure-menu {
  width: 100vw;
  background-color: $darkgrey;
  position: relative;
  z-index: -1;
  height: 250px;
  img {
    object-fit: cover;
    object-position: center;
    min-height: 300px;
    max-height: 350px;
    width: 100%;
  }
}

.menu {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: $darkgrey;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 1.5rem 1.5rem;
    h1 {
      @include title-font;
      font-size: 1.8rem;
    }
    &__like {
      @include heart;
    }
    @media screen and (min-width: 768px) {
      justify-content: center;
      &__like {
        margin-left: 3rem;
      }
    }
  }

  &__section {
    background-color: $darkgrey;
    padding: 1rem 1.5rem;
    h2 {
      font-weight: 300;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
    &__line {
      width: 50px;
      height: 5px;
      background-color: $tertiary;
      margin-top: 5px;
    }
    &__plate {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 90vw;
      max-width: 500px;
      background-color: white;
      border-radius: 16px;
      margin: 1rem 0;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 7px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      overflow: hidden;
      animation: menu-enter 1s ease-in-out both;
      &__details {
        padding: 0.8rem 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        h3 {
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: 500;
          font-size: 1.1rem;
        }
        p {
          font-size: 1rem;
          margin-top: 5px;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      &__info {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: 1rem;
        margin-right: -2rem;
        padding-top: 1.8rem;
        font-weight: bold;
        transition: all 0.4s ease-out;
      }
      &__validation {
        padding: 1.5rem 1rem 1.5rem 1rem;
        background-color: $tertiary;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        transition: all 0.4s ease-out;
        transform: translateX(60px);
        .fas {
          transform: rotate(360deg);
          transition: all 0.4s ease-out;
          font-size: 1.5rem;
          color: white;
        }
      }

      &:hover &__info {
        margin-right: 1rem;
      }

      &:hover &__validation {
        transform: translateX(0px);
        .fas {
          transform: rotate(0deg);
        }
      }
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__validation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkgrey;
    padding: 1.5rem 1rem;
    button {
      @include pink-button;
      padding: 1rem 3rem;
      margin-bottom: 2.5rem;
      font-weight: 300;
      font-size: 1rem;
    }
  }
}

@for $i from 0 to 11 {
  .delay-#{$i} {
    animation-delay: #{$i/11}s;
  }
}
