footer {
  background-color: rgb(32, 28, 28);
  color: white;
  padding: 1.5rem 2rem;
  font-weight: 300;
  h3 {
    @include title-font;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 10px;
  }
  .footer__icon {
    display: flex;
    &__icon {
      width: 20px;
      i {
        margin-right: 10px;
        font-size: 12px;
      }
    }
    p {
      margin-left: 5px;
    }
  }
}
